@font-face {
    font-family: IRANSans;
    src: url('../fonts/IRANSans.ttf');
  }

/*style for tag names*/


*{
  font-family: IRANSans;
  direction: rtl;
  margin: 0;
  padding: 0;
}

button{
    font-family: IRANSans;
}

/*class based element*/

.h1-color{
    color: #E24E1B;
    
}

.container{
    position: relative;
}
.btn-primary {
    background-color: #D6D4A0;
    color: #333333;
    font-size: 17px;
    border:none;
}
.btn-primary:hover{
    background-color: #FCA311;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.btn-block{
    height: 50px;
    margin: 5px;
}


/*id based element*/
#mainTitle{
    margin: 50px;
    text-align: center; 
    padding: 30px;
}
#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.3;
}
#buttonList{
    margin-left:40%;
    margin-right:40%;
    margin-top: 80px; 
    width: 280px;
    height: 150px;
}
